.login-container {
  text-align: center;
  width: 340px;
  background-color: #ededed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 2em;
  position: absolute;
  border-radius: 2em;
  margin: 2em auto auto;
}

@media only screen and (max-width: 400px) {
  .login-container {
    width: 300px;
    margin: 2em 0 0 0;
  }
}
