.login-container {
  text-align: center;
  width: 350px;
  background-color: #ededed;
  top: 50%;
  padding: 2em;
  border-radius: 2em;
  margin: 2em auto auto;
}

@media only screen and (max-width: 400px) {
  .login-container {
    width: 300px;
    margin: 2em 0 0 0;
  }
}
