/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.color-inherited {
  color: inherit !important;
}
.color-black {
  color: black !important;
}

@media only screen and (max-width: 768px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
